DATABASE_URL='postgresql://neondb_owner:npg_R4SPMCz2EtOm@ep-weathered-violet-adoej1jk-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
JWT_SECRET='VHSElJ2MywkOzrMmUaPY4RaKI6Oob9qsS5XiouuPQb0='
ACCESS_TOKEN_SECRET='2rIFSL5YSu4sbyx7tD/PpBlSzOAvxO5U6Y9TsBhdjx8='
REFRESH_TOKEN_SECRET='YKGQ956ByFfqVfYK2selFpZBwxGvHfyCZIio5XEpFgg='
APP_URL='http://localhost:3000'
RESEND_API_KEY="re_BpM46JvH_CaR1rdHpqLoXa2qMQkt2NmgG"
MAIL_FROM="Goldkach <info@goldkach.co.ug>"

